* {
    margin: 0;
    background-color: rgb(249, 220, 237);
    padding: 0;
}

#title {
    text-align: center;
    background-color: lightskyblue;
    font-size: 100px;
    margin: auto;
    font-style: oblique;
    display: flex;
    justify-content: center;
}

#introduction {
    text-align: center;
    font-size: 25px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}

#pictures {
    display: flex;
    height: 70%;
    width: 70%;
    flex-direction: column;
    margin: auto;
}

#pic1{
    padding: 20px 20px 20px 20px;
}

#pic2 {
    padding: 20px 20px 20px 20px;
}

#pic3 {
    padding: 20px 20px 20px 20px;
}