#dj-js {
    height: auto;
    width: auto;
    text-align: center;
}

#square {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 157, 28);
    border-style: solid;
    position: auto;
  }
